h2, p {
  color: #737373;
}

p {
  font-size: x-large;
}

.main-button {
  width: 50%;
  min-width: 200px;
  max-width: 250px;
}

.main-button button {
  width: 100%;
  height: 100%;
  font-size: larger;
  color: #0000ff;
  border-color: #0000ff;
}

.main-button button:hover {
  color: white;
  border-color: white;
  background-color: #0000ff;
}